<div class="container">
  <div class="section-show-card margin-top margin-bottom">
    <small>
      <%= image_tag @article.user.avatar_url(48), class: "gravatar" %>
      <%= link_to @article.user.name, user_path(@article.user_id) %> in <%= link_to @article.section.name, section_path(@article.section_id) %> <br />
      Published <%= time_ago_in_words(@article.created_at) %> ago
    </small>
    <h3 class="margin-top clear">
      <%= @article.title %>
    </h3>
    <p>
      <%= markdown(@article.body) %>
    </p>
    <small>
      <div class="favorite">
        <% if current_user && favorite = current_user.favorite_for(@article) %>
          <%= link_to [@article, favorite], method: :delete do %>
            <i class="fa fa-star" aria-hidden="true"></i> Unfavorite
          <% end %>
        <% else %>
          <%= link_to [@article, Favorite.new], method: :post do %>
            <i class="fa fa-star-o" aria-hidden="true"></i> Favorite
          <% end %>
        <% end %>
      </div>
    </small>

  <div class="margin-top">
    <h3>Comments</h3>
      <%= render @article.comments %>
        <% if current_user %>
          <%= render 'comments/form', comment: Comment.new, article: @article %>
        <% end %>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_article_path(@article) %> |
      <% end %>
    <%= link_to 'Back', articles_path %>

  </div>
  </div>
</div>
