

  <div class="container margin-top">
    <div class ="user-info">
      <div class="gravatar-user-show">
        <%= image_tag @user.avatar_url(300), class: "gravatar" %>
      </div>
      <div class="text-about">
        <h3><%= @user.name %></h3>
        <h3><%= @user.email %></h3>
        <p><%= pluralize(@user.articles.count, 'article') %> published</p>
      </div>
    </div>



    <div id="tabs" class="no-js margin-top">
      <div class="c-tabs-nav">
        <a href="#" class="c-tabs-nav__link is-active">
          <i class="fa fa-book"></i>
          <span>Published Articles</span>
        </a>
        <a href="#" class="c-tabs-nav__link">
          <i class="fa fa-search"></i>
          <span>Under Review</span>
        </a>
        <a href="#" class="c-tabs-nav__link">
          <i class="fa fa-lock"></i>
          <span>Private Articles</span>
        </a>
        <a href="#" class="c-tabs-nav__link">
          <i class="fa fa-star"></i>
          <span>Favorites</span>
        </a>
      </div>
      <div class="c-tab is-active">
        <div class="c-tab__content">
          <% @published_articles.each do |article| %>
            <%= render article %>
          <% end %>
        </div>
      </div>
      <div class="c-tab">
        <div class="c-tab__content">
          <% @unpublished_articles.each do |article| %>
            <%= render article %>
          <% end %>
        </div>
      </div>
      <div class="c-tab">
        <div class="c-tab__content">
          <% @private_articles.each do |article| %>
            <%= render article %>
          <% end %>
        </div>
      </div>
      <div class="c-tab">
        <div class="c-tab__content">
          <% if @favorited_articles.any? %>
            <% @favorited_articles.each do |article| %>
              <%= render article %>
            <% end %>
          <% else %>
            <p>
              There are no favorited articles.
            </p>
          <% end %>
        </div>
      </div>
    </div>

<script>
  var myTabs = tabs({
    el: '#tabs',
    tabNavigationLinks: '.c-tabs-nav__link',
    tabContentContainers: '.c-tab'
  });
  myTabs.init();
</script>
